<div class="body-border"> </div>

<div class="cover-wrapper wrapper">
  <%= partial "sections/cover" %>
</div>

<div class="intro-wrapper wrapper">
  <%= partial "sections/intro" %>
</div>

<div class="date-location-wrapper wrapper">
  <%= partial "sections/date-location" %>
</div>

<div class="gallery-wrapper wrapper">
  <%= partial "sections/gallery" %>
</div>

<div class="registry-wrapper wrapper">
  <%= partial "sections/registry" %>
</div>

<div class="more-info-wrapper wrapper">
  <%= partial "sections/more-info" %>
</div>