<section id="cover-wrapper">
  <%= partial "sections/cover" %>
</section>

<section id="intro-wrapper">
  <%= partial "sections/intro" %>
</section>

<section id="date-location-wrapper">
  <%= partial "sections/date-location" %>
</section>

<section id="gallery-wrapper">
  <%= partial "sections/gallery" %>
</section>

<section id="registry-wrapper">
  <%= partial "sections/registry" %>
</section>

<section id="more-info-wrapper">
  <%= partial "sections/more-info" %>
</section>